// SPDX-License-Identifier: GPL-2.0
/*
 * dts file for Xilinx KV260 defect-detect
 *
 * (C) Copyright 2020 - 2022, Xilinx, Inc.
 *
 */

/dts-v1/;
/plugin/;

&fpga_full {
	#address-cells = <2>;
	#size-cells = <2>;
	firmware-name = "kv260-defect-detect.bit.bin";
	resets = <&zynqmp_reset 116>, <&zynqmp_reset 117>, <&zynqmp_reset 118>, <&zynqmp_reset 119>;
};

&zynqmp_dpsub {
    status = "okay";
    clocks = <&dp_aclk>, <&zynqmp_clk 17>, <&zynqmp_clk 16>, <&dp_video_clk 0>;
    clock-names = "dp_apb_clk", "dp_aud_clk",
                    "dp_vtc_pixel_clk_in",
                    "dp_live_video_in_clk";
    xlnx,bridge = <&v_tc>;

    dp_port: port@0 {
        reg = <0>;
        dp_encoder: endpoint {
            remote-endpoint = <&mixer_crtc>;
        };
    };
};

&amba {
	afi0: afi0 {
		compatible = "xlnx,afi-fpga";
		config-afi = <0 0>, <1 0>, <2 0>, <3 0>, <4 1>, <5 1>, <6 0>, <7 0>, <8 0>, <9 0>, <10 2>, <11 2>, <12 2>, <13 2>, <14 0x0>, <15 0x000>;
	};

	clocking0: clocking0 {
		#clock-cells = <0>;
		assigned-clock-rates = <99999001>;
		assigned-clocks = <&zynqmp_clk 71>;
		clock-output-names = "fabric_clk";
		clocks = <&zynqmp_clk 71>;
		compatible = "xlnx,fclk";
	};

	misc_clk_0: misc_clk_0 {
		#clock-cells = <0>;
		clock-frequency = <99999000>;
		compatible = "fixed-clock";
	};

	misc_clk_1: misc_clk_1 {
		#clock-cells = <0>;
		clock-frequency = <274997250>;
		compatible = "fixed-clock";
	};

	misc_clk_2: misc_clk_2 {
		#clock-cells = <0>;
		clock-frequency = <199998000>;
		compatible = "fixed-clock";
	};

	/* ar0144 isp mipi rx pipeline */
	ap1302_clk: sensor_clk {
		#clock-cells = <0x0>;
		compatible = "fixed-clock";
		clock-frequency = <0x48000000>;
	};

	ap1302_vdd: fixedregulator@0 {
		compatible = "regulator-fixed";
		regulator-name = "ap1302_vdd";
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
		enable-active-high;
	};

	ap1302_vaa: fixedregulator@1 {
		compatible = "regulator-fixed";
		regulator-name = "ap1302_vaa";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	ap1302_vddio: fixedregulator@2 {
		compatible = "regulator-fixed";
		regulator-name = "ap1302_vddio";
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
	};

	axi_iic: i2c@80040000 {
		#address-cells = <1>;
		#size-cells = <0>;
		clock-names = "s_axi_aclk";
		clocks = <&misc_clk_0>;
		compatible = "xlnx,axi-iic-2.0", "xlnx,xps-iic-2.00.a";
		interrupt-names = "iic2intc_irpt";
		interrupt-parent = <&gic>;
		interrupts = <0 106 4>;
		reg = <0x0 0x80040000 0x0 0x10000>;

		i2c_mux: i2c-mux@74 {
			compatible = "nxp,pca9546";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x74>;

			i2c@0 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0>;
				ap1302: isp@3c {
					compatible = "onnn,ap1302";
					reg = <0x3c>;
					#address-cells = <1>;
					#size-cells = <0>;
					reset-gpios = <&gpio 80 1>;
					clocks = <&ap1302_clk>;
					sensors {
						#address-cells = <1>;
						#size-cells = <0>;
						onnn,model = "onnn,ar0144";
						sensor@0 {
							reg = <0>;
							vdd-supply = <&ap1302_vdd>;
							vaa-supply = <&ap1302_vaa>;
							vddio-supply = <&ap1302_vddio>;
						};
					};
					ports {
						#address-cells = <1>;
						#size-cells = <0>;
						port@0 {
							reg = <2>;
							isp_out: endpoint {
								remote-endpoint = <&isp_csiss_in>;
								data-lanes = <1>;
							};
						};
					};
				};
			};
		};
	};

	isp_csiss: csiss@80030000 {
		compatible = "xlnx,mipi-csi2-rx-subsystem-5.0";
		reg = <0x0 0x80030000 0x0 0x10000>;
		clock-names = "lite_aclk", "dphy_clk_200M", "video_aclk";
		clocks = <&misc_clk_0>, <&misc_clk_2>, <&misc_clk_1>;
		interrupt-parent = <&gic>;
		interrupts = <0 107 4>;
		xlnx,csi-pxl-format = <0x1e>;
		xlnx,axis-tdata-width = <32>;
		xlnx,max-lanes = <1>;
		xlnx,en-active-lanes;
		xlnx,ppc = <2>;
		xlnx,vfb;

		ports {
			#address-cells = <0x1>;
			#size-cells = <0x0>;

			port@1 {
				reg = <0x1>;

				isp_csiss_out: endpoint {
					remote-endpoint = <&subset_conv_in>;
				};
			};
			port@0 {
				reg = <0x0>;

				isp_csiss_in: endpoint {
					data-lanes = <1>;
					remote-endpoint = <&isp_out>;
				};
			};
		};
	};

	axis_subset_conv: isp_subset_convertor {
		compatible = "xlnx,axis-subsetconv-1.1";
		ports {
			port@0 {
				reg = <0x0>;
				subset_conv_in: endpoint {
					remote-endpoint = <&isp_csiss_out>;
				};
			};
			port@1 {
				reg = <0x1>;
				subset_conv_out: endpoint {
					remote-endpoint = <&isp_vcap_csi_in>;
				};
			};
		};
	};

	isp_fb_wr_csi: fb_wr@b0000000 {
		compatible = "xlnx,axi-frmbuf-wr-v2.1";
		reg = <0x0 0xb0000000 0x0 0x10000>;
		#dma-cells = <1>;
		interrupt-parent = <&gic>;
		interrupts = <0 108 4>;
		xlnx,vid-formats = "y8", "uyvy";
		reset-gpios = <&gpio 79 1>;
		xlnx,dma-addr-width = <32>;
		xlnx,pixels-per-clock = <2>;
		xlnx,max-width = <3840>;
		xlnx,max-height = <2160>;
		clocks = <&misc_clk_1>;
		clock-names = "ap_clk";
	};

	isp_vcap_csi {
		compatible = "xlnx,video";
		dmas = <&isp_fb_wr_csi 0>;
		dma-names = "port0";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				direction = "input";

				isp_vcap_csi_in: endpoint {
					remote-endpoint = <&subset_conv_out>;
				};
			};
		};
	};

	/* video mixer display pipeline */
	dp_video_clk: clock-generator@80020000 {
		#address-cells = <2>;
		#clock-cells = <1>;
		clock-names = "clk_in1", "s_axi_aclk";
		clock-output-names = "clk_out1";
		clocks = <&misc_clk_1>, <&misc_clk_0>;
		compatible = "xlnx,clocking-wizard";
		reg = <0x0 0x80020000 0x0 0x10000>;
		speed-grade = <2>;
	};

	v_tc: v_tc@80010000 {
		clock-names = "clk", "s_axi_aclk";
		clocks = <&dp_video_clk 0>, <&misc_clk_0>;
		compatible = "xlnx,bridge-v-tc-6.1";
		reg = <0x0 0x80010000 0x0 0x10000>;
		xlnx,generator;
		xlnx,pixels-per-clock = <1>;
	};

	v_mix: v_mix@b0010000 {
		clocks = <&misc_clk_1>;
		compatible = "xlnx,v-mix-5.1", "xlnx,mixer-3.0", "xlnx,mixer-4.0", "xlnx,mixer-5.0";
		interrupt-names = "interrupt";
		interrupt-parent = <&gic>;
		interrupts = <0 104 4>;
		reg = <0x0 0xb0010000 0x0 0x10000>;
		reset-gpios = <&gpio 78 1>;
		xlnx,bpc = <8>;
		xlnx,dma-addr-width = <32>;
		xlnx,num-layers = <6>;
		xlnx,ppc = <1>;
		xlnx,disp-bridge = <&zynqmp_dpsub>;

		mixer_port: port {
			reg = <0>;

			mixer_crtc: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&dp_encoder>;
			};
		};

		xx_mix_overlay_0display_pipeline_v_mix_0: layer_0 {
			xlnx,layer-id = <0>;
			xlnx,layer-max-height = <2160>;
			xlnx,layer-max-width = <3840>;
			xlnx,layer-primary;
			xlnx,vformat = "NV16";
		};

		xx_mix_overlay_1display_pipeline_v_mix_0: layer_1 {
			xlnx,layer-id = <1>;
			xlnx,layer-max-width = <3840>;
			xlnx,vformat = "GREY";
		};

		xx_mix_overlay_2display_pipeline_v_mix_0: layer_2 {
			xlnx,layer-id = <2>;
			xlnx,layer-max-width = <3840>;
			xlnx,vformat = "GREY";
		};

		xx_mix_overlay_3display_pipeline_v_mix_0: layer_3 {
			xlnx,layer-id = <3>;
			xlnx,layer-max-width = <3840>;
			xlnx,vformat = "GREY";
		};

		xx_mix_overlay_4display_pipeline_v_mix_0: layer_4 {
			xlnx,layer-id = <4>;
			xlnx,layer-max-width = <3840>;
			xlnx,vformat = "GREY";
		};

		xx_mix_overlay_5display_pipeline_v_mix_0: layer_5 {
			xlnx,layer-id = <5>;
			xlnx,layer-max-width = <3840>;
			xlnx,vformat = "AR24";
		};
	};

	/* zocl */
	zocl: zyxclmm_drm {
		compatible = "xlnx,zocl";
		status = "okay";
		interrupt-parent = <&gic>;
		interrupts = <0 89  4>, <0 90  4>, <0 91  4>, <0 92  4>,
				<0 93  4>, <0 94  4>, <0 95  4>, <0 96  4>;
	};
};
